<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/otro/style.css}">
    <title th:text="${tittle}"></title>
</head>
<body>
    <h1 class="color-rojo" th:text="${text}"></h1>
    <h2 class="color-azul">Texto de ejemplo css</h2>
    <img th:src="@{/images/spring-boot.png}" alt="IMG Spring">
</body>
</html>